Link {
  text-decoration: none;
}

.category-section {
  background-color: #f6ecf0;
  padding: 2em;
  width: 100%;
}

.category-section > h3 {
  text-align: center;
  text-transform: uppercase;
  color: #1690b9;
  padding-bottom: 2em;
  font-size: 25px;
}


.grid-wrapper-2x2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.grid-wrapper-2x2 > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;

  font-family: Montserrat, Arial, sans-serif;
  color: #373737;
}

.grid-wrapper-2x2 > div > h5 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 25px;
  padding-top: 20px;
  margin: 0.5em 0;
}

.grid-wrapper-2x2 > div > p {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600px;
}

.img-white-bg {
  background-color: white;
  padding: 1.5em;
  width: 100%;
  border-radius: 20px;
}

.img-white-bg > img {
  height: 100%;
  object-fit: contain;
  width: 80%;
}

/* desktop/laptop */

@media (min-width: 1025px) {
  .grid-wrapper-2x2 {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .grid-wrapper-2x2 {
    width: 100%;
  }
}

.tick {
  width: 41px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* tablet */
@media (max-width: 560px) {
  .grid-wrapper-2x2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    /* column-gap: 10px; */
  }
}
