.product-card {
  width: 332px;
  background-color: white;
  margin-top: 70px;
  justify-content: center;
}

.product-card img {
  width: 330px;
  height: 330px;
  object-fit: 50%;
  max-height: 30vh;
  object-position: left;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 70px;
}

.product-card a {
  text-decoration: none;
}

.model {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  max-width: 340px;

  
  /* Black */
  
  color: #000000;
}


.overview {

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  max-width: 340px;
  
  color: #666666;
}



.price {

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* Black */

color: #000000;


}


.see-details {

  background: #1690b9;
  border-radius: 100px;
  width: 330px;
  padding: 16 32 16 32;
  height: 52px;
  display: flex;
  align-items: center;


  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  /* identical to box height */

  text-align: center;
  justify-content: center;

  /* White */

  color: #FFFFFF;
}

