p {
  text-align: center;
}

.form-wrapper {
  border-radius: 15px;
  width: 75%;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em;
  font-family: Montserrat, sans-serif;
  width: 100%;
  max-width: 550px;
  align-self: center;
}

.login-buttons {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.logout {
  width: 100%;
  text-align: center;
  color: #e29ea6;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
}

a {
  color: #e29ea6;
}

@media screen and (max-width: 500px) {
  .form-item {
    flex-wrap: wrap;
  }

  .form-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .form-item {
  }
}
