@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.menu-container {
  position: relative;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

.menu {
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 8px 16px;
  display: block;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  
}

.menu-trigger {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: top;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

#nav-button {
  color: #1690b9;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: auto;
  padding: 0 0.5em;
  margin-top: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .menu-trigger {
    margin-right: 1em;
  }
}

/* .menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
} */
