Link {
  text-decoration: none;
}

.product-wrapper {
  background-color: #f6ecf0;
  padding: 2em;
  width: 100%;
}

.product-wrapper > h3 {
  text-align: center;
  text-transform: uppercase;
  color: #1690b9;
  padding-bottom: 1em;
  font-size: 25px;
}

.grid-wrapper-2x2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.product-page {
  position: relative;
  display: grid;
  grid-template-columns: 60% 38%;
  column-gap: 20px;
  row-gap: 50px;
  margin: 0 auto;
}

.product-page > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  font-family: Montserrat, Arial, sans-serif;
  color: #373737;
}

.grid-wrapper-2x2 > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  font-family: Montserrat, Arial, sans-serif;
  color: #373737;
}

.grid-wrapper-2x2 > div > h5 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 25px;
  margin: 0.5em 0;
}

.grid-wrapper-2x2 > div > p {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600px;
}

.supplier {
  margin-top: 2em;
  text-align: center;
}

.supplier-logo {
  width: 20%;
  text-align: center;
}

.img-white-bg {
  background-color: white;
  padding: 1.5em;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.img-white-bg > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.prod-img {
  background-color: white;
  padding: 1.5em;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.prod-img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* desktop/laptop */
@media (max-width: 800px) {
  .grid-wrapper-2x2 {
    width: 100%;
  }

  .product-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
  }
}

@media (min-width: 1025px) {
  .product-page {
    width: 80%;
    margin: 0 auto;
  }
}

/* tablet */
@media (max-width: 560px) {
  .grid-wrapper-2x2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
  }
}
